In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH_DATA = '../mydata/'

## Get data

In [3]:
df_csv = pd.read_csv(PATH_DATA+'food_delivery_datasets.csv')

In [4]:
df_csv.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587

1. Sort Ascending The DataFrame based on the ETA. Get rows 100, 102, 104, ... , 198, 200 then calculate the Average of Food Price?

In [10]:
sorted_df = df_csv.sort_values('eta_seconds') ## --> sorted
sorted_df_get_rows = sorted_df[100:201:2] ## --> ambil rows
sorted_df_get_rows['food_price'].mean()

70178.43137254902

In [9]:
# df_csv.sort_values('eta_seconds')[100:200]['food_price'].mean()

In [15]:
# series_exp  = pd.Series([i+10 for i in range(300)])
# series_exp[100:201:2]

2. Get the ETA between 500 and 1500, calculate the percentile 75 of food price that less than 50000

In [16]:
df0 = df_csv[(df_csv.eta_seconds>500)&(df_csv.eta_seconds<1500)]  ## --> Get data ETA between 500 and 1500
df0 = df0[df0.food_price<50000] ## --> Get Food Price < 50k
df0.food_price.quantile(0.75)

39925.0

3. get the standard deviation of delivery fee on Resto Id = 742650491 ?.

In [21]:
df0 = df_csv[(df_csv.resto_id == 742650491)]

In [24]:
df0['delivery_fee'].std()

1500.0