Day 2 (part2)

From Employee Dataset :
1. average of vote who still Exist on November 2016
2. average of comment's dislikes who churn on April 2017 (compare with not churn?)

From Food Dataset :
1. (food data) how many customer who active on September 2018? and how many who still active on November 2018?

In [33]:
# 1. (food data) how many customer who active on September 2018? and still active on November 2018?
# 1. (food data) how many customer who active on August 2018? and still active on Sept 2018?

In [34]:
import pandas as pd

In [35]:
PATH_DATA1 = '../../mydata/'

In [36]:
df_food = pd.read_csv(PATH_DATA1+'food_delivery_datasets.csv')

In [37]:
df_food.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587

In [38]:
df_food['date_time'] = pd.to_datetime(df_food['date_time'])
df_food['month_f'] = df_food['date_time'].dt.strftime('%Y-%m')

In [39]:
df_food.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id,month_f
0,FOOD-10455,0,2018-08-12 20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149,2018-08
1,FOOD-10985,0,2018-09-23 17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936,2018-09
2,FOOD-10911,0,2018-09-19 18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026,2018-09
3,FOOD-10932,0,2018-09-21 01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377,2018-09
4,FOOD-10961,0,2018-09-22 17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587,2018-09

In [40]:
df_food['month_f'].unique()

array(['2018-08', '2018-09', '2018-07'], dtype=object)

In [41]:
## Active = Completed Order --> Assumption (hati2, bisa terjadi bias)
df_aug = df_food[(df_food['status']=='Completed') & (df_food['month_f']=='2018-08')]
cust_aug = df_aug['cust_id'].unique() ## --> array (customer active di bulan agustus)
len(cust_aug)

95

In [42]:
cust_aug

array([1089034, 1472725,  304856, 1163202, 1319474,  366721, 1191779,
       1230166, 1364703,  588886, 1194303, 1079631, 1383625,  589253,
       1505030,  316834,  472466,  158214, 1406088, 1050269, 1284060,
        906222, 1514562, 1379631,  123830,  180146,  912287,  617777,
        594840,  466885, 1481304,  647544, 1240387,  884440, 1094787,
        697545, 1404077,  463180, 1081809, 1135466,  594262, 1232372,
        352393,  630004, 1011942,  675089, 1044732,  949010,  395715,
        866805,  380092,  357568, 1379865, 1360716, 1351793, 1544551,
         82880, 1008998,  849324, 1095259,  687194,  940042, 1305973,
        103236,  532173,  815241,  943758,   22895,  293834,  511038,
       1113881, 1010922,  960065,  228764,  785629,  143669,  366528,
        929284,  185166,  193679,   70701, 1150199,  725307,   62551,
        638765,  410472,  783781, 1220358,  854709,  805438,  472361,
        514284,  854741,  616763, 1479204])

In [43]:
df_sept = df_food[(df_food['status']=='Completed') & (df_food['month_f']=='2018-09')] ## --> order complete di Sept

df_sept2 = df_sept[df_sept['cust_id'].isin(cust_aug)] ## order yg dilakuin sama temen2 August 2018

len(df_sept2['cust_id'].unique())

85

yg balik lagi bulan september ada 85 dari 95 di agustus (~90% return)

In [44]:
85/95

0.8947368421052632

In [69]:
# 2. average of comment's dislikes on February 2017 for churn employee (compare with not churn?)

In [48]:
PATH_DATA2 = '../../mydata/employee_data/'

In [52]:
data_dislike = pd.read_csv(PATH_DATA2+'comments_clean_anonimized.csv')
data_churn = pd.read_csv(PATH_DATA2+'churn.csv')

In [53]:
data_dislike.head()

,employee,companyAlias,commentId,txt,likes,dislikes,commentDate
0,307,56aec740f1ef260003e307d6,58d018d7e010990004e38070,**********************************************...,4.0,0.0,Mon Mar 20 19:00:17 CET 2017
1,382,56aec740f1ef260003e307d6,58d0179ae010990004e3806d,*****************************,1.0,2.0,Mon Mar 20 18:55:16 CET 2017
2,172,56aec740f1ef260003e307d6,58cff8cde010990004e37f6a,***************************,3.0,0.0,Mon Mar 20 16:44:02 CET 2017
3,135,56aec740f1ef260003e307d6,58cfefeee010990004e37f60,***************************,1.0,1.0,Mon Mar 20 16:06:08 CET 2017
4,225,56aec740f1ef260003e307d6,58cfd9b4e010990004e37f52,*********************************,3.0,2.0,Mon Mar 20 14:30:50 CET 2017

In [54]:
data_churn.head()

,employee,companyAlias,numVotes,lastParticipationDate,stillExists
0,512,56aec740f1ef260003e307d6,4,Thu Feb 23 12:48:04 CET 2017,True
1,-2,56aec740f1ef260003e307d6,0,Wed Jan 18 14:00:55 CET 2017,False
2,2,56aec740f1ef260003e307d6,72,Fri Mar 17 01:00:00 CET 2017,True
3,487,56aec740f1ef260003e307d6,14,Sat Nov 19 15:02:14 CET 2016,False
4,3,56aec740f1ef260003e307d6,22,Thu Feb 16 01:00:00 CET 2017,True

In [56]:
data_dislike2 = data_dislike[['employee','companyAlias','dislikes','commentDate']]
data_churn2 = data_churn[['employee','companyAlias','stillExists']]

In [57]:
data_dislike2.sample(5)

,employee,companyAlias,dislikes,commentDate
67599,24,573f2c4a3517490003ef7710,0.0,Thu Jun 09 06:46:44 CEST 2016
5648,47,56aec740f1ef260003e307d6,6.0,Thu Feb 09 17:07:50 CET 2017
15763,87,57bb2f0b3bae540003a8d453,2.0,Thu Dec 01 22:35:11 CET 2016
37229,146,54e52607e4b01191dc064966,9.0,Sun Jun 05 09:49:27 CEST 2016
62350,104,574c5ade56b6300003009965,0.0,Tue Jul 12 14:32:35 CEST 2016

In [58]:
data_churn2.sample(5)

      employee              companyAlias  stillExists
4076        98  5742d699f839a10003a407d2         True
3961       315  57ac8b23be7fe30003e656d0         True
1145        38  581b08041a0ef8000308aef6         True
1230       166  581b08041a0ef8000308aef6         True
642        186  5370af43e4b0cff95558c12a        False

In [59]:
## churn --> stillExists = False
data_dislike_complete = pd.merge(data_dislike2,data_churn2, on =['employee','companyAlias'],how ='left')
data_dislike_complete.sample(10)

,employee,companyAlias,dislikes,commentDate,stillExists
47629,20,5641f96713664c000332c8cd,2.0,Sat Jun 04 14:14:13 CEST 2016,True
54000,36,57c4aa7dbb8b5c000396fd3b,0.0,Wed Oct 19 19:30:31 CEST 2016,True
27222,634,54e52607e4b01191dc064966,4.0,Wed Feb 08 18:46:05 CET 2017,True
31973,101,54e52607e4b01191dc064966,5.0,Fri Aug 14 08:39:38 CEST 2015,True
19929,182,581b08041a0ef8000308aef6,0.0,Mon Feb 06 08:24:50 CET 2017,True
63930,133,53a2dd43e4b01cc02f1e9011,0.0,Fri Nov 25 22:08:14 CET 2016,True
83261,209,58a728a0e75bda00042a3468,0.0,Sat Feb 25 22:39:01 CET 2017,True
67635,124,53a2dd43e4b01cc02f1e9011,0.0,Thu Mar 31 19:12:23 CEST 2016,True
35858,594,54e52607e4b01191dc064966,0.0,Tue Nov 29 17:39:34 CET 2016,True
3203,295,56aec740f1ef260003e307d6,2.0,Sat Aug 06 15:01:43 CEST 2016,True

In [61]:
data_dislike_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83415 entries, 0 to 83414
Data columns (total 5 columns):
employee        83415 non-null int64
companyAlias    83415 non-null object
dislikes        83414 non-null float64
commentDate     83414 non-null object
stillExists     82796 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 3.8+ MB

In [63]:
data_dislike_complete['commentDate'] = pd.to_datetime(data_dislike_complete['commentDate'])
data_dislike_complete['month_e'] = data_dislike_complete['commentDate'].dt.strftime('%Y-%m')

In [64]:
data_dislike_complete.sample(10)

,employee,companyAlias,dislikes,commentDate,stillExists,month_e
14923,140,57bb2f0b3bae540003a8d453,2.0,2016-10-12 13:34:52,True,2016-10
42928,-2,57dd2d6a4018d9000339ca43,0.0,2016-12-06 01:41:55,False,2016-12
1891,246,56aec740f1ef260003e307d6,1.0,2016-11-12 11:49:27,True,2016-11
36971,146,54e52607e4b01191dc064966,11.0,2016-07-20 08:25:59,False,2016-07
19798,18,581b08041a0ef8000308aef6,0.0,2017-02-20 12:19:20,True,2017-02
31570,-156,54e52607e4b01191dc064966,1.0,2015-09-23 10:19:36,False,2015-09
2799,305,56aec740f1ef260003e307d6,3.0,2016-09-21 17:49:43,True,2016-09
81422,573,58a728a0e75bda00042a3468,0.0,2017-03-14 11:43:32,True,2017-03
44378,311,57dd2d6a4018d9000339ca43,0.0,2016-10-25 14:31:37,True,2016-10
9844,19,56aec740f1ef260003e307d6,0.0,2016-03-15 16:18:37,True,2016-03

In [68]:
X = data_dislike_complete['month_e'].unique()
X.sort()
X

array(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04',
       '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10',
       '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04',
       '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10',
       '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', 'NaT'],
      dtype=object)

In [74]:
February_Comment = data_dislike_complete[(data_dislike_complete['month_e']=='2017-02')]

## Churn
February_Comment[February_Comment['stillExists'] == False]['dislikes'].mean()

4.085470085470085

In [75]:
## Not Churn
February_Comment[February_Comment['stillExists'] == True]['dislikes'].mean()

1.639094042343673