Assigment 3 :

    1. which company that has the lowest interaction on Wednesday ?
    2. daily average of rating if the null is removed

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
PATH_DATA = '../mydata/'
PATH_DATA2 = '../mydata/employee_data/'

1. which company that has the lowest votes activity on Wednesday ?

In [3]:
df_votes = pd.read_csv(PATH_DATA2+'votes.csv', parse_dates = ['voteDate'])

/Users/alamhanz/anaconda/envs/p37/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname CET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/Users/alamhanz/anaconda/envs/p37/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname CEST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [4]:
df_votes

        employee              companyAlias            voteDate  vote
0             31  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
1             33  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
2             79  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
3             94  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
4             16  56aec740f1ef260003e307d6 2016-02-01 01:00:00     2
...          ...                       ...                 ...   ...
221227        17  573a0671b5ec330003add34a 2016-06-03 02:00:00     3
221228        17  573a0671b5ec330003add34a 2016-06-07 02:00:00     4
221229        17  573a0671b5ec330003add34a 2016-06-13 02:00:00     4
221230        17  573a0671b5ec330003add34a 2016-06-28 02:00:00     4
221231        19  573a0671b5ec330003add34a 2016-07-04 02:00:00     4

[221232 rows x 4 columns]

In [5]:
df_votes['day'] = df_votes['voteDate'].dt.strftime('%A')

In [7]:
df_votes.head()

   employee              companyAlias            voteDate  vote     day
0        31  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4  Monday
1        33  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4  Monday
2        79  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4  Monday
3        94  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4  Monday
4        16  56aec740f1ef260003e307d6 2016-02-01 01:00:00     2  Monday

In [9]:
df_votes[df_votes['day'] == 'Wednesday'].groupby('companyAlias')['vote'].size().sort_values()

companyAlias
58c6e15f32f72a00046f556c       1
58bf03e5cff4fa0004dd44ef       1
573a0671b5ec330003add34a       1
56ae7b02f1ef260003e3072c       4
56558cfd07a5de00030908fb       4
57e518026d641600035db88a       8
57fcf18712cdbd000396e310       9
5474b9cde4b0bf7614b2c66f      10
58b471b384db3200044dd1b9      16
58b9adfce75bf80004df6536      19
56ab28dc1f385d0003454757      24
57d979b72a040a00036a8925      38
552e2d00e4b066b42fd122ed      74
54d43612e4b0f6a40755d93e      99
57908a2622881200033b34d7     127
573f2c4a3517490003ef7710     150
5809cde3ff2ea40003fda452     228
5809cc9eff2ea40003fda44d     282
57d1eb86a22c9d0003dd1f05     448
57c4aa7dbb8b5c000396fd3b     569
56fd2b64f41c670003f643c8     636
58a728a0e75bda00042a3468     664
567011c035dce00003a07fa4     694
581b08041a0ef8000308aef6     696
53a2dd43e4b01cc02f1e9011     800
57d956302a040a00036a8905     862
56e2a905e3b6fe0003e32855     954
57ac8b23be7fe30003e656d0    1069
5370af43e4b0cff95558c12a    1113
57bb2f0b3bae540003a8d453    1121
574c423856b6300003009953    1186
57dd2d6a4018d9000339ca43    1727
574c5ade56b6300003009965    2998
5641f96713664c000332c8cd    3394
5742d699f839a10003a407d2    3827
56aec740f1ef260003e307d6    4388
54e52607e4b01191dc064966    8561
Name: vote, dtype: int64

2. daily average of rating if the null is removed

In [15]:
df_food = pd.read_csv(PATH_DATA+'food_delivery_datasets.csv', parse_dates = ['date_time'])
df_food['date'] = df_food['date_time'].dt.strftime('%Y-%m-%d')

In [16]:
df_food2 = df_food[~(df_food['rating'].isnull())]

In [17]:
df_food2.groupby('date')['rating'].mean().mean()

4.9443767035433694