In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
PATH_DATA = '../mydata/'
PATH_DATA2 = '../mydata/employee_data/'

1. daily average of rating if the null = 3

In [9]:
df_food = pd.read_csv(PATH_DATA+'food_delivery_datasets.csv', parse_dates = ['date_time'])
df_food['date'] = df_food['date_time'].dt.strftime('%Y-%m-%d')

In [10]:
df_food.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id,date
0,FOOD-10455,0,2018-08-12 20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149,2018-08-12
1,FOOD-10985,0,2018-09-23 17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936,2018-09-23
2,FOOD-10911,0,2018-09-19 18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026,2018-09-19
3,FOOD-10932,0,2018-09-21 01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377,2018-09-21
4,FOOD-10961,0,2018-09-22 17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587,2018-09-22

In [11]:
df_food['rating2'] = df_food['rating'].fillna(3)

In [14]:
df_food.groupby('date')['rating2'].mean().mean()

4.147102592795149

In [ ]:
pd.to_datetime()

2. which company that has a person with the longest text

In [15]:
df_csv1 = pd.read_csv(PATH_DATA2+'comments_clean_anonimized.csv', parse_dates = ['commentDate'])

/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname CET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/Users/alamhanz/anaconda/envs/py36/lib/python3.6/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname CEST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [16]:
df_csv1.shape

(82756, 7)

In [17]:
df_csv1.head()

,employee,companyAlias,commentId,txt,likes,dislikes,commentDate
0,307,56aec740f1ef260003e307d6,58d018d7e010990004e38070,**********************************************...,4.0,0.0,2017-03-20 19:00:17
1,382,56aec740f1ef260003e307d6,58d0179ae010990004e3806d,*****************************,1.0,2.0,2017-03-20 18:55:16
2,172,56aec740f1ef260003e307d6,58cff8cde010990004e37f6a,***************************,3.0,0.0,2017-03-20 16:44:02
3,135,56aec740f1ef260003e307d6,58cfefeee010990004e37f60,***************************,1.0,1.0,2017-03-20 16:06:08
4,225,56aec740f1ef260003e307d6,58cfd9b4e010990004e37f52,*********************************,3.0,2.0,2017-03-20 14:30:50

In [18]:
df_csv1['len_txt'] = df_csv1['txt'].apply(lambda x : len(x))

TypeError: object of type 'float' has no len()

In [19]:
df_csv1['txt'].isnull().sum()

217

In [20]:
df_csv1['txt'] = df_csv1['txt'].fillna('')

In [21]:
df_csv1['len_txt'] = df_csv1['txt'].apply(lambda x : len(x))

In [26]:
df_csv1['len_txt'].max()

29057

In [27]:
df_csv1[df_csv1['len_txt']==29057]

,employee,companyAlias,commentId,txt,likes,dislikes,commentDate,len_txt
14270,38,57bb2f0b3bae540003a8d453,5851aec3c8a2da000497c306,**********************************************...,2.0,7.0,2016-12-14 21:36:38,29057
15705,38,57bb2f0b3bae540003a8d453,5851aec3c8a2da000497c306,**********************************************...,2.0,7.0,2016-12-14 21:36:38,29057

In [25]:
df_csv1.groupby(['employee','companyAlias'])['len_txt'].max().sort_values(ascending =False)

employee  companyAlias
 38       57bb2f0b3bae540003a8d453    29057
 110      54e52607e4b01191dc064966     3748
 47       5370af43e4b0cff95558c12a     3131
 349      574c5ade56b6300003009965     2729
 13       5641f96713664c000332c8cd     2264
 49       5742d699f839a10003a407d2     2255
 67       57d956302a040a00036a8905     2226
 270      54e52607e4b01191dc064966     2051
 475      58a728a0e75bda00042a3468     2046
 11       5742d699f839a10003a407d2     2025
 43       57bb2f0b3bae540003a8d453     1983
 55       5370af43e4b0cff95558c12a     1952
 12       5742d699f839a10003a407d2     1795
 139      58a728a0e75bda00042a3468     1781
 481      54e52607e4b01191dc064966     1777
-116      54e52607e4b01191dc064966     1777
 340      574c5ade56b6300003009965     1755
 31       57bb2f0b3bae540003a8d453     1707
-147      54e52607e4b01191dc064966     1634
 151      5742d699f839a10003a407d2     1614
 768      54e52607e4b01191dc064966     1539
-5        54e52607e4b01191dc064966     1517
 100      5641f96713664c000332c8cd     1502
 17       57c4aa7dbb8b5c000396fd3b     1500
 209      54e52607e4b01191dc064966     1490
 166      5641f96713664c000332c8cd     1476
 173      5742d699f839a10003a407d2     1472
 117      574c5ade56b6300003009965     1465
 83       5742d699f839a10003a407d2     1450
 176      57dd2d6a4018d9000339ca43     1422
                                      ...
 51       567011c035dce00003a07fa4        3
 36       56aec740f1ef260003e307d6        3
-2        57908a2622881200033b34d7        3
 16       56ae7b02f1ef260003e3072c        3
 179      57d956302a040a00036a8905        3
 59       57908a2622881200033b34d7        3
 43       56ab28dc1f385d0003454757        2
 433      54e52607e4b01191dc064966        2
 564      54e52607e4b01191dc064966        2
 132      581b08041a0ef8000308aef6        2
 177      57dd2d6a4018d9000339ca43        2
 127      581b08041a0ef8000308aef6        2
 51       56ab28dc1f385d0003454757        2
 79       581b08041a0ef8000308aef6        2
 141      57ac8b23be7fe30003e656d0        2
 189      567011c035dce00003a07fa4        2
 94       574c423856b6300003009953        1
 68       56aec740f1ef260003e307d6        1
-112      5370af43e4b0cff95558c12a        1
 266      5641f96713664c000332c8cd        1
 63       56ab28dc1f385d0003454757        1
 215      567011c035dce00003a07fa4        1
 60       56ab28dc1f385d0003454757        1
 50       58a728a0e75bda00042a3468        1
 29       54e52607e4b01191dc064966        1
 46       56ab28dc1f385d0003454757        1
 19       57ac8b23be7fe30003e656d0        1
 51       5370af43e4b0cff95558c12a        1
 26       56aec740f1ef260003e307d6        1
 129      54e52607e4b01191dc064966        1
Name: len_txt, Length: 3219, dtype: int64

 3. on what week the users has the lowest average votes?

In [28]:
df_votes = pd.read_csv(PATH_DATA2+'votes.csv', parse_dates = ['voteDate'])

In [ ]:
# pd.to_datetime(...)

In [31]:
df_votes.shape

(221232, 4)

In [32]:
df_votes.head()

   employee              companyAlias            voteDate  vote
0        31  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
1        33  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
2        79  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
3        94  56aec740f1ef260003e307d6 2016-02-01 01:00:00     4
4        16  56aec740f1ef260003e307d6 2016-02-01 01:00:00     2

In [40]:
df_votes['weeks'] = df_votes['voteDate'].dt.strftime('%Y-%W')

In [41]:
df_votes.sample(10)

        employee              companyAlias            voteDate  vote    weeks
117473        29  57dd2d6a4018d9000339ca43 2017-02-25 01:00:00     4  2017-08
47880        150  581b08041a0ef8000308aef6 2017-01-21 01:00:00     3  2017-03
125524       189  5641f96713664c000332c8cd 2016-08-23 02:00:00     3  2016-34
66903        481  54e52607e4b01191dc064966 2015-08-26 02:00:00     1  2015-34
293           32  56aec740f1ef260003e307d6 2016-02-15 01:00:00     4  2016-07
118724       112  57dd2d6a4018d9000339ca43 2017-03-18 01:00:00     1  2017-11
210987       173  57d956302a040a00036a8905 2016-10-07 02:00:00     3  2016-40
115262       166  57dd2d6a4018d9000339ca43 2017-01-14 01:00:00     3  2017-02
202657        17  5742d699f839a10003a407d2 2016-12-10 01:00:00     3  2016-49
108827       148  57dd2d6a4018d9000339ca43 2016-10-08 02:00:00     4  2016-40

In [42]:
df_votes.groupby(['weeks'])['vote'].mean().sort_values()

weeks
2015-20    2.308924
2015-19    2.374582
2015-21    2.397119
2015-39    2.423423
2014-22    2.428571
2015-38    2.440972
2015-40    2.468560
2015-17    2.492754
2015-16    2.513595
2015-14    2.527132
2015-18    2.537459
2015-15    2.538182
2015-37    2.559387
2015-12    2.566929
2015-22    2.569106
2015-43    2.570265
2015-41    2.574661
2015-45    2.594758
2015-23    2.596529
2015-44    2.596838
2016-04    2.609053
2015-34    2.613187
2015-42    2.616570
2015-25    2.618812
2015-24    2.619855
2015-36    2.621505
2015-30    2.628571
2015-47    2.638037
2015-09    2.662722
2015-08    2.667692
             ...
2016-40    2.926372
2015-52    2.927711
2015-07    2.928571
2016-29    2.928571
2016-30    2.935463
2016-43    2.942437
2016-52    2.942512
2016-48    2.943784
2016-20    2.944681
2016-19    2.948330
2016-41    2.953959
2016-46    2.956112
2016-49    2.956761
2016-45    2.962018
2016-47    2.968407
2016-21    2.970520
2016-22    2.973294
2016-44    2.978002
2016-51    2.983931
2016-12    3.005092
2017-00    3.024259
2016-00    3.057471
2015-05    3.272727
2014-50    3.400000
2014-47    3.450000
2014-51    4.000000
2015-00    4.000000
2015-02    4.000000
2015-03    4.000000
2014-48    4.000000
Name: vote, Length: 123, dtype: float64

4. companies with churn rate more than 0.3?

In [43]:
df_churn = pd.read_csv(PATH_DATA2+'churn.csv', parse_dates = ['lastParticipationDate'])

In [44]:
company_churn = df_churn.groupby(['companyAlias'])['stillExists'].mean()
company_churn = 1-company_churn

In [49]:
company_churn.sort_values(ascending = False)

companyAlias
5370af43e4b0cff95558c12a    0.848214
54e52607e4b01191dc064966    0.623574
54d43612e4b0f6a40755d93e    0.363636
57908a2622881200033b34d7    0.274510
58a728a0e75bda00042a3468    0.266821
574c423856b6300003009953    0.228758
57dd2d6a4018d9000339ca43    0.176471
5641f96713664c000332c8cd    0.174107
56fd2b64f41c670003f643c8    0.146667
552e2d00e4b066b42fd122ed    0.137931
53a2dd43e4b01cc02f1e9011    0.120000
57d1eb86a22c9d0003dd1f05    0.100000
567011c035dce00003a07fa4    0.088757
56aec740f1ef260003e307d6    0.087079
5742d699f839a10003a407d2    0.081633
581b08041a0ef8000308aef6    0.063380
56ab28dc1f385d0003454757    0.058824
57ac8b23be7fe30003e656d0    0.056604
57bb2f0b3bae540003a8d453    0.050725
57c4aa7dbb8b5c000396fd3b    0.041667
574c5ade56b6300003009965    0.027304
573f2c4a3517490003ef7710    0.014925
573a0671b5ec330003add34a    0.000000
58bf03e5cff4fa0004dd44ef    0.000000
56e2a905e3b6fe0003e32855    0.000000
57d956302a040a00036a8905    0.000000
56ae7b02f1ef260003e3072c    0.000000
57d979b72a040a00036a8925    0.000000
57e518026d641600035db88a    0.000000
56558cfd07a5de00030908fb    0.000000
57fcf18712cdbd000396e310    0.000000
5809cc9eff2ea40003fda44d    0.000000
5809cde3ff2ea40003fda452    0.000000
58b471b384db3200044dd1b9    0.000000
5474b9cde4b0bf7614b2c66f    0.000000
58b9adfce75bf80004df6536    0.000000
58c6e15f32f72a00046f556c    0.000000
Name: stillExists, dtype: float64

In [47]:
company_churn[company_churn>0.3]

companyAlias
5370af43e4b0cff95558c12a    0.848214
54d43612e4b0f6a40755d93e    0.363636
54e52607e4b01191dc064966    0.623574
Name: stillExists, dtype: float64