GroupBy case

    1. Rating Penjualan Per hari
    2. Customer banyak memesan (dalam 3 bulan terakhir)
    3. range food price yang sering pakai voucher

Visualisasi :

    1. rating-food / rating-eta --> ANOVA

Day 2 (part1)

From Food Delivery Dataset
1. calc total fee per second
2. create categoric of trip durations (akan ada function baru)
3. Persentase Delivery Fee dari Food Price

## Get The Data

In [1]:
import pandas as pd
import numpy as np

In [6]:
PATH_DATA = '../../mydata/'

In [7]:
df_csv = pd.read_csv(PATH_DATA+'food_delivery_datasets.csv')

In [8]:
df_csv.head(10)

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
5,FOOD-10004,0,2018-07-01T14:24:06.719768,2344,138800,466885,5.0,10000,225641128,Completed,0.341921
6,FOOD-10953,0,2018-09-22T13:37:33.712943,1449,58700,463180,5.0,4000,742550960,Completed,0.232322
7,FOOD-10464,0,2018-08-13T20:37:56.355441,2041,74200,1472725,5.0,13000,742534099,Completed,0.162013
8,FOOD-10342,10000,2018-08-03T13:58:54.286742,1265,37500,304856,5.0,0,742670531,Completed,0.373261
9,FOOD-10942,0,2018-09-21T22:51:22.145050,1580,80800,511038,NaN,11000,742541172,Completed,0.217071

In [11]:
# 1. calc total delivery fee per eta second

df_csv['delivery_fee_per_second'] = df_csv['delivery_fee']/df_csv['eta_seconds']

In [12]:
df_csv.head()

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id,delivery_fee_per_second
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149,2.222222
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936,5.062126
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026,6.346968
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377,7.356805
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587,2.331002

In [14]:
#2. create categoric of trip durations (akan ada function baru)
df_csv['eta_seconds'].describe()

count    1076.000000
mean     1632.289033
std       948.628732
min         2.000000
25%      1074.750000
50%      1605.500000
75%      2151.000000
max      6082.000000
Name: eta_seconds, dtype: float64

In [17]:
df_csv['eta_seconds']

0       1800
1       2173
2       1418
3       1903
4       1716
        ...
1071     900
1072    1579
1073    2606
1074    2428
1075    1547
Name: eta_seconds, Length: 1076, dtype: int64

In [19]:
b0 = [0, 1000, 2000, 3000, 4000, 5000, 6000, 7000] ## bucket
L0 = ['type'+str(i+1) for i in range(7)] ## Label

df_csv['eta_second_bucket'] = pd.cut(df_csv['eta_seconds'],bins = b0, labels= L0)

In [22]:
df_csv[['order_id','eta_seconds','eta_second_bucket']].sample(10)

        order_id  eta_seconds eta_second_bucket
442   FOOD-10896         4221             type5
376   FOOD-10206         1358             type2
355   FOOD-11056         3270             type4
87    FOOD-10245         1984             type2
84    FOOD-10851         2690             type3
1006  FOOD-10976         1729             type2
272   FOOD-10195          962             type1
712   FOOD-10869           10             type1
269   FOOD-10836           82             type1
946   FOOD-11075           80             type1

In [23]:
# 3. Persentase Delivery Fee dari Food Price

In [26]:
df_csv['delivery_fee_pct(%)'] = (df_csv['delivery_fee']/df_csv['food_price'])*100

In [27]:
df_csv['delivery_fee_pct(%)'].describe()

count    1076.000000
mean       15.868249
std        13.243210
min         0.000000
25%         6.770490
50%        12.180286
75%        22.222222
max        81.447964
Name: delivery_fee_pct(%), dtype: float64

In [31]:
df_csv[df_csv['delivery_fee_pct(%)']>60][['order_id','food_price','delivery_fee','status']]

       order_id  food_price  delivery_fee     status
29   FOOD-10731       36200         22000  Cancelled
202  FOOD-10654       12900          9000  Completed
334  FOOD-10293       37600         23000  Completed
456  FOOD-10572       22100         18000  Completed
896  FOOD-11030       20300         15000  Cancelled

In [32]:
all_status = df_csv['status'].unique()
all_status

array(['Completed', 'Cancelled'], dtype=object)

In [35]:
for cc in all_status:
    print(cc,df_csv[df_csv['status']==cc]['delivery_fee_pct(%)'].mean())

Completed 14.79312941743803
Cancelled 20.725585078558915

In [40]:
## Primary Key Check
col = 'order_id'
if len(df_csv[col].unique()) == len(df_csv):
    print('its primary key')
else:
    print('not')

its primary key

In [42]:
df_csv[df_csv['delivery_fee_pct(%)']>50].shape[0]

28

In [44]:
28/len(df_csv) ## -> 2% order with more than 50% delivery fee

0.026022304832713755